.authform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1000;
}
.authform form {
    font-family: "Orbitron";
    background: linear-gradient(35deg, #b60a0a, #000000);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border: none;
}
.authform h1 {
    color: #ffffff;
    text-shadow: 
        0 0 4px #ffffff;
    font-family: "Orbitron";
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1vh;
}
.authform form input {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: "Orbitron";
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
.authform form input::placeholder {
    color: rgb(212, 193, 193);
}
.authform form label {
    color: #ff0000;
    text-shadow: 
        0 0 3px #ff0000;
    font-family: "Orbitron";
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}
.authform .error {
    text-align: center;
}
.authform button {
    font-size: 1.4rem;
    color: #ffffff;
    text-shadow: 
        0 0 3px #ffffff;
    background-color: transparent;
    font-family: "Orbitron";
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.authform button:hover {
    transform:scale(1.05);
}