.gameform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.387);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1000;
}
.gameform .gamemenu {
    width: 30vw;
    padding: 1rem;
    min-width: fit-content;
    height: 60vh;
    display: flex;
    background: linear-gradient(35deg, #b60a0a, #000000);
    border-radius: 1.5vw;
    flex-direction: column;
    align-items: center;
}
.gameform .gamemenu .code {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: flex;
}
.gameform h1 {
    padding: 0;
    margin: 2vh 0vw;
    color: #ffffff;
    text-shadow: 
        0 0 6px #ffffff;
    font-size: 2.3rem;
    font-family: "Orbitron";
}
.gameform input {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: "Orbitron";
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
.gameform ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.gameform li {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
    text-shadow: 
        0 0 6px #ffffff;
    font-size: 2rem;
    font-family: "Orbitron";
}
.gameform .gamemenu button {
    color: #ffffff;
    text-shadow: 
        0 0 6px #ffffff;
    font-size: 3rem;
    font-family: "Orbitron";
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;
    transition: 0.3s;
}
.gameform .gamemenu button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(255, 0, 0);
    text-shadow: 
        0 0 6px rgb(255, 0, 0);
}
#gamecode {
    margin: 0;
    padding: 0;
    font-family: "Orbitron";
    font-size: 2rem;
    color: rgb(255, 0, 0);
    text-shadow: 
        0 0 6px rgb(255, 0, 0);
}